body{
	text-align: center;
}
li{
	display: inline;
	margin-right: 50px;
}
a{
	text-decoration: none;
	color: rgb(0, 36, 16);
}
header{
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 20px;
}
#home img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
#portfolio{
	background-color: burlywood;
	padding: 20px;
}
#skills li{
	color: black;
	display: inline;
}
footer{
	background-color: black;
	color: white;
	padding: 10px;
}